
<div class="panel panel-default">
    <div class="panel-heading">권한타는 버튼</div>
    <div class="panel-body">
        @Html.Button("S", "btn1", "조회")
        @Html.Button("A", "btn5", "추가")
        @Html.Button("I", "btn2", "저장")
        @Html.Button("U", "btn3", "수정")
        @Html.Button("D", "btn4", "삭제")
        <br /><br />
        <pre>
        @@Html.Button("S", "btn1", "조회")
        @@Html.Button("A", "btn5", "추가")
        @@Html.Button("I", "btn2", "저장")
        @@Html.Button("U", "btn3", "수정")
        @@Html.Button("D", "btn4", "삭제")
        </pre>
        <br /><br />
        @Html.ButtonImg("S", "btn1", "조회")
        @Html.ButtonImg("A", "btn5", "추가")
        @Html.ButtonImg("I", "btn2", "저장")
        @Html.ButtonImg("U", "btn3", "수정")
        @Html.ButtonImg("D", "btn4", "삭제")
        <br /><br />
        <pre>
        @@Html.ButtonImg("S", "btn1", "조회")
        @@Html.ButtonImg("A", "btn5", "추가")
        @@Html.ButtonImg("I", "btn2", "저장")
        @@Html.ButtonImg("U", "btn3", "수정")
        @@Html.ButtonImg("D", "btn4", "삭제")
        </pre>
    </div>
</div>



